@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    border: none;
}

:root {
    --cor-principal: #9BF00B;

    /* Dark scale */
    --dark-100: #0C0C0C;
    --dark-70 : #777777;
    --dark-40 : #C0C0C0;
    --dark-10 : #FFFFFF;
    --gray: #9f9797;

    /* Fonts */
    font-family: 'Inter', sans-serif;
}

body {
    background-color: black;
    width: auto;
    height: 100vh;
}

span {
    color: var(--cor-principal);
}

/* header zone */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0 0 0;
    width: min(90%, 1400px);
    margin: 0 auto;
}

.logo {
    color: white;
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 100px;
}

.nav-bar a {
    color: white;
    font-size: 20px;
    /* background-color: var(--gray);
    border-radius: 50px;
    padding: 10px 20px; */
}

.button {
    width: 224px;
    height: 60px;
    background-color: var(--cor-principal);
    /* border-radius: 10px; */
}

.button a {
    font-size: 15px;
    font-weight: 700;
}

/* Main zone */

.main {
    width: auto;
}

/* Section 1 zone */

.section-1 {
    background-image: url(../imagens/luz-verde.svg);
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(90%, 1400px);
    margin: 0 auto;
}

.section-1 h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 82px;
    padding: 120px 0 20px 0;
}

.section-1 p {
    display: flex;
    justify-content: center;
    font-size: 24px;
    padding: 10px 0 20px 0;
    color: var(--cor-principal);
}

.xbox {
    width: 1235px;
    height: 597px;
    top: 456px;
    left: 349px;
}

/* Section 2 zone */

.section-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(90%, 1400px);
    height: 100vh;
    margin: 0 auto;
}

.texto {
    display: flex;
    flex-direction: column;
    color: white;
    padding-right: 40px;
}

.texto h1 {
    font-size: 54px;
    line-height: 80px;
    padding: 20px 0;
}

.texto p {
    color: rgba(192, 192, 192, 1);
    font-size: 24px;
    line-height: 40px;
}

.controlo {
    width: auto;
    height: auto;
    padding-left: 40px;
}

/* Section 3 zone */

.games {
    display: flex;

    width: 98vw;
    margin: 0 auto;
}

.games .wrapper-img {
    position: relative;
    
    height: 90vh;
    width: 100%;
}

.games img {
    width: 100%;
}

.wrapper-img::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, black, transparent 60%);

    position: absolute;
}

.wrapper-img::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.farcry::after {
    content: url(../imagens/x2Ec8pmegcNHIFvBSDTwBgFU\ 1.svg);
}

.horizon::after {
    content: url(../imagens/Forza_Horizon\ 1.svg);
}

.fifa::after {
    content: url(../imagens/fifa.png);
}

.minecraft::after {
    content: url(../imagens/minecraft\ 1.svg);
}


/* Container */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: min(90%, 1400px);
    margin: 0 auto;
}
  
  /* TITLE CONTAINER */
.title-container {
    font-size: 48px;
    color: white;
    font-weight: 600;
}
  
.title-container span {
    color: var(--cor-principal);
}
  
  /* PERGUNTA CONTAINER */
.pergunta {
    flex: 1 1 100%;
    width: 100%;
    border-bottom: 0.1rem solid var(--gray);
    overflow: hidden;
    min-height: auto;
    height: 5rem;
    transition: all 0.6s ease;
}
  
.pergunta.visible {
    height: 20rem;
}
  
  /* TITLE PERGUNTA */
.title-pergunta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}
  
.title-pergunta p {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: white;
}
  
  /* DROP DOWN ICON */
.icon {
    filter: saturate(0);
    transform: rotate(180deg);
    transition: all 0.6s;
    cursor: pointer;
    padding: 2rem 1rem;
    color: var(--cor-principal);
}
  
.icon.clicked {
    transform: rotate(0);
    filter: none;
}
  
  /* TEXTO PERGUNTA */
.texto-pergunta {
    font-size: 18px;
    line-height: 2.7px;
    color: var(--gray);
    font-weight: 500;
    padding-block: 2rem;
}

  /* footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    height: 200px;
    width: min(90%, 1400px);
}

.footer p {
    display: flex;
    align-items: center;
    gap: 100px;
    
    color: var(--gray);
    font-size: 18px;
    font-weight: 400;
}

/* Mobile */
@media (max-width: 768px) {

    body {
        background-color: black;
        width: auto;
        height: 100vh;
    }

    /* Estilos do cabeçalho */
    .header {
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
    }

    /* Estilos da barra de navegação */
    .nav-bar {
        width: 390px;
        font-size: 8px;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;
        padding: 20px 0 60px 0;
    }

    .nav-bar a {
        font-size: 8px;
        display: flex;
        justify-content: center;
        background-color: grey;
        padding: 10px 20px;
        border-radius: 50px;
    }

    /* Estilos do botão */
    .button {
        width: 95%;
        max-width: 400px;
        text-align: center;
        font-size: 12px;
    }

    /* Estilos da seção 1 */
    .section-1 {
        background-size: cover;
        padding: 80px 20px;
        text-align: center;
        width: auto;
        height: auto;
    }
    .section-1 h1 {
        font-size: 36px;
        padding: 0px 0 10px 0;
    }
    .section-1 p {
        font-size: 16px;
        padding: 5px 0;
    }

    .xbox {
        display: flex;
        width: 100vw;
    }

    /* Estilos da seção 2 */
    .section-2 {
        display: flex;
        flex-direction: column;
    }
    .texto {
        padding: 0;
    }
    .texto h1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 26px;
        line-height: 25px;
    }
    .texto p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        line-height: 28px;
    }
    .controlo {
        padding: 20px 0;
    }

    /* Estilos da seção 3 */
    .section-3 {
        flex-direction: column;
        padding: 80px 20px;
    }

    /* Estilos do rodapé */
    .footer {
        position: relative;
        top: auto;
        left: auto;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .footer p {
        justify-content: center;
        text-align: center;
    }
}
